#!/usr/bin/make -f

DH_VERBOSE = 1
export GOPATH:=${CURDIR}
export PATH:=$(GOPATH)/bin:$(PATH)
export PROJECT_DIR:=src/github.com/juju/bundleservice

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk
DESTDIR:=debian/$(DEB_SOURCE)

%:
	dh $@

override_dh_auto_install:
	make DESTDIR=debian/$(DEB_SOURCE) VERSION=no -C $(PROJECT_DIR) install
	mkdir -p $(DESTDIR)/usr/bin $(DESTDIR)/etc/bundleservice
	install ${GOPATH}/bin/bundleservice $(DESTDIR)/usr/bin
	# consider: install $(PROJECT_DIR)/config.yaml $(DESTDIR)/etc/bundleservice/config.yaml.sample  when bundelservice gets a config.yaml

